<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.fanyun.bullscheduling.mapper.TaskExeRecordMapper">
  <resultMap id="BaseResultMap" type="indi.fanyun.bullscheduling.model.dbo.TaskExeRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="TASK_CODE" jdbcType="VARCHAR" property="taskCode" />
    <result column="GMT_START" jdbcType="TIMESTAMP" property="gmtStart" />
    <result column="GMT_END" jdbcType="TIMESTAMP" property="gmtEnd" />
    <result column="RESULTS" jdbcType="VARCHAR" property="results" />
    <result column="RESULT_BODY" jdbcType="VARCHAR" property="resultBody" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
    <sql id="BASE_COLUMN_SQL">
              ter.ID,
              ter.`CODE`,
              ter.TASK_CODE,
              ter.GMT_START,
              ter.GMT_END,
              ter.RESULTS,
              ter.RESULT_BODY,
              ter.GMT_CREATE
    </sql>
    <select id="selectTaskExeRecords" resultMap="BaseResultMap">
      SELECT
        ter.ID,
        ter.`CODE`,
              ter.TASK_CODE,
              ter.GMT_START,
              ter.GMT_END,
              ter.RESULTS,
              ter.RESULT_BODY,
              ter.GMT_CREATE
      from t_task_exe_record ter
        <where>
          <if test="taskCode != null and taskCode !=''">
            and ter.TASK_CODE =#{taskCode}
          </if>
          <if test="code != null and code !=''">
            and ter.CODE =#{code}
          </if>
        </where>
    </select>
</mapper>