<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.fanyun.bullscheduling.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="indi.fanyun.bullscheduling.model.dbo.TaskBo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="TARGET_URL" jdbcType="VARCHAR" property="targetUrl" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="CRON" jdbcType="VARCHAR" property="cron" />
    <result column="PARAM" jdbcType="VARCHAR" property="param" />
    <result column="PARAM_TYPE" jdbcType="VARCHAR" property="paramType" />
    <result column="OPERATE_CODE" jdbcType="VARCHAR" property="operateCode" />
    <result column="OPERATE_NAME" jdbcType="VARCHAR" property="operateName" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_MODIFY" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>

   <sql id="BASE_COLUMN">
     ta.`CODE`,
    ta.TASK_NAME,
    ta.TARGET_URL,
    ta.METHOD,
    ta.CRON,
    ta.PARAM,
    ta.PARAM_TYPE,
    ta.OPERATE_CODE,
    ta.OPERATE_NAME,
    ta.GMT_CREATE,
    ta.GMT_MODIFY,
    ta.`STATUS`
   </sql>
    <select id="selectByParam"  resultMap="BaseResultMap">
            select <include refid="BASE_COLUMN"/> from t_task ta
            <where>
              <if test=" code != null and code !=''">
                and ta.CODE = #{code}
              </if>
              <if test=" taskName != null and taskName !=''">
                and ta.TASK_NAME like concat('%',#{code},'%')
              </if>
              <if test=" taskStatus != null and taskStatus !=''">
                and ta.STATUS = #{taskStatus}
              </if>
            </where>
    </select>
</mapper>