<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.fanyun.bullscheduling.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="indi.fanyun.bullscheduling.model.dbo.TaskBo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="TARGET_URL" jdbcType="VARCHAR" property="targetUrl" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="CRON" jdbcType="VARCHAR" property="cron" />
    <result column="PARAM" jdbcType="VARCHAR" property="param" />
    <result column="PARAM_TYPE" jdbcType="VARCHAR" property="paramType" />
    <result column="OPERATE_CODE" jdbcType="VARCHAR" property="operateCode" />
    <result column="OPERATE_NAME" jdbcType="VARCHAR" property="operateName" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_MODIFY" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>